<IfModule mod_rewrite.c>
   Options +FollowSymLinks
   RewriteEngine on
   RewriteBase /~joseakle/kaiserstory/
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>